:root {
  --main-header-color: rgb(15, 171, 116);
  --paragraph-color: #fff;
  --background-color: #302e2c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color) !important;
  font-size: 1.3125rem;
  line-height: 1.6rem;
  margin-bottom: 10%;
}

.main-container {
  width: min(90%, 70em);
  // position: absolute;
  margin: auto;

  .top-sub-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(58, 54, 54);
    gap: 0.5em;
  }

  .bottom-sub-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
    gap: 0.5em;
  }

  @media (max-width: 1500px) {
    // .top-sub-container{
    //   display: grid;
    //   grid-template-rows: 15em 13em 13em 13em 13em;
    //   grid-template-columns: 8em 8em 8em 8em 8em;
    // }
    .bottom-sub-container {
      display: grid;
      grid-template-rows: 3em 3em 3em 3em 3em;
      grid-template-columns: 7em 7em 7em 7em 7em;
    }
  }
}
