.dragable-players {
    background-color: rgb(216, 123, 123);
    border: 1px solid yellow;
    width: 10em;
    height: 5em;
    cursor: grab;

    display: flex;

    .player-logo{
      width: 5em;
      border: 1px solid red;
      img{
        border-radius: 50%;
        width: 5em;
        height: 100%;
      }
    }

    .player-name{
      // width: 50%;
    }
  }