.player-box {
    margin-top: 5em;

    // height: 50em;
    width: 10em;
    border: 1px solid rgb(124, 124, 19);

    .player-contents {
      height: 27em;
      border: 1px solid rgb(29, 177, 140);
      background-color: rgb(71, 70, 70);

    }
    .player-contents-drop {
      height: 27em;
      border: 2px solid rgb(177, 29, 152);
      background-color: rgb(71, 70, 70);
      opacity: 1;
      transition: all 0.2s ease-in-out;
    }

    .player-info {
      margin-top: 1em;
      height: 3em;
      background-color: green;
    }

    .dropped-player{
      background-color: rgb(216, 123, 123);
      border: 1px solid yellow;
      width: 100%;
      height: 3em;
      transition: all 0.2s ease-in-out;
    }
  }